In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
data_path = 'C:\\Users\\zer0nu11\\Documents\\grad\\skolkovohack2022\\data\\for_hack_2022\\'
test_path = 'C:\\Users\\zer0nu11\\Documents\\grad\\skolkovohack2022\\data\\for_hack_2022\\test\\'

In [4]:
data_jobs = pd.read_csv(data_path+'data_jobs.csv',sep=';')
data_candidates_work_places = pd.read_csv(data_path+'data_candidates_work_places.csv',sep=';')
data_candidates_education = pd.read_csv(data_path+'data_candidates_education.csv',sep=';')
data_candidates = pd.read_csv(data_path+'data_candidates.csv',sep=';')

test_jobs = pd.read_csv(test_path+'test_jobs.csv',sep=';')
test_candidates_work_places = pd.read_csv(test_path+'test_candidates_workplaces.csv',sep=';')
test_candidates_education = pd.read_csv(test_path+'test_candidates_education.csv',sep=';')
test_candidates = pd.read_csv(test_path+'test_candidates.csv',sep=';')

In [5]:
data_candidates.head(3)

,7435,Водитель-экспедитор,2,Россия,21,0,NULL,NULL.1,NULL.2,NULL.3,Full,Full.1,Санкт-Петербург,2014-01-15 00:00:00.0000000,163,1425,Отклонен
0,7445,Водитель-экспедитор,2,Россия,23,0,NaN,NaN,NaN,NaN,Full,Full,Санкт-Петербург,2014-01-15 00:00:00.0000000,163,1425,Отклонен
1,7450,Водитель-экспедитор,2,Россия,31,0,NaN,NaN,NaN,NaN,Full,Full,Санкт-Петербург,2014-01-15 00:00:00.0000000,163,1425,Отклонен
2,7452,Водитель-экспедитор,2,Россия,23,0,NaN,NaN,NaN,NaN,Full,Full,Санкт-Петербург,2014-01-15 00:00:00.0000000,163,1425,Отклонен

In [9]:
data_candidates = data_candidates.rename(columns={'7435': "CandidateId", 'Водитель-экспедитор': "Position", '2': "Sex",
                                'Россия': "Citizenship" ,'21' : 'Age', '0': 'Salary', 'NULL': ' Langs',
                                'NULL.1' : 'DriverLicense','NULL.2' : 'Subway' , 'NULL.3': 'Skills','Full' : 'Employment','Full.1' : 'Shedule',
                               'Санкт-Петербург' : 'CandidateRegion','2014-01-15 00:00:00.0000000' : 'DateCreated','163' : 'JobId','1425' : 'CandidateStatusId','Отклонен' : 'Status'
                                })
data_candidates.head(3)           
data_jobs.shape

(647, 5)