In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import data

In [3]:
data_path = 'C:\\Users\\zer0nu11\\Documents\\grad\\skolkovohack2022\\data\\for_hack_2022\\'
data.set_path(data_path)

dataset = data.load_data()

In [16]:
df = dataset['train']['job'][0]
df

,JobId,Name,Region,Description
0,163,водитель экспедитор,санкт петербург,
1,211,водитель семейный,санкт петербург,
2,232,водитель автобуса,санкт петербург,требования к опыту водительские права категори...
3,288,водитель,санкт петербург,требования к опыту от 5 лет обязанности развоз...
4,292,водитель,санкт петербург,
...,...,...,...,...
643,348038,водитель на авто компании,москва,водитель возраст от 21г стаж от 3 лет
644,350344,водитель на личном авто,москва,
645,370097,водитель погрузчика штабелера,москва,водитель погрузчика штабелера nbsp nbsp обязан...
646,369978,водитель на авто компании,москва,
647,115500,водитель автомобиль со спец оборудованием,сыктывкар,уважаемый соискатель! благодарим вас за проявл...